/* ===== GOOGLE FONTS ===== */
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

/* ===== VARIABLES CSS ===== */
:root {
  /* ===== Colors ===== */
  --dark-cyan: #19a2ae;
  --dark-gray: #969696;
  --very-dark-desaturated-blue: #2d3248;
  --dark-grayish-blue: #6a6f81;

  /* ===== Font and Typography ===== */
  --body-font: "Kumbh Sans", sans-serif;
  --name-stats-font-size: 18px;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background-color: var(--dark-cyan);
}

body {
    display: grid;
    align-items: center;
    height: 100vh;
    background-image: url(images/bg-pattern-top.svg),
      url(images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: -65% 205%, 120% -195%;
  }

h3 {
  text-align: center;
  font-family: var(--body-font);
  font-size: 1rem;
  font-weight: 700;
  color: var(--very-dark-desaturated-blue);
  margin-bottom: 0.4em;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile-card {
  display: flex;
  flex-direction: column;
  width: 18rem;
  height: 18rem;
  border-radius: 8px;
  background-color: #fff;
}

.card-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-img {
  width: 18rem;
  height: 6rem;
  border-radius: 8px 8px 0 0;
}

.victor-img {
  width: 5rem;
  height: 5rem;
  border: 5px solid white;
  border-radius: 50%;
  margin: -2.5em auto 1em auto;
}

.card-top h3 {
  margin-top: 0.5em;
  margin-bottom: 0.7em;
}

.card-top span {
  font-family: var(--body-font);
  font-size: 1rem;
  font-weight: 700;
  color: var(--dark-grayish-blue);
}

.card-top p {
  text-align: center;
  font-family: var(--body-font);
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--dark-grayish-blue);
  margin-bottom: 1em;
}

.card-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5em;
  border-top: 1.5px solid #dcdcdc;
}

.info p {
  text-align: center;
  font-family: var(--body-font);
  font-size: 0.5em;
  font-weight: 400;
  color: var(--dark-gray);
  letter-spacing: 1.5px;
}
